<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>    
    <h1>Welcome to OptiStaff</h1>
    <h2>Real-Time Duty & Salary Transparency Portal</h2>

    <br>

    <form action="/log_in_admin" method="post">
        <label for="user_ad">Username:</label>
        <input type="text" id="user_ad" name="user_ad" placeholder="Name authorization">
        <label for="ad_pass">Password:</label>
    
        <input type="text" id="ad_pass" name="ad_pass" placeholder="Passkey">
        <input type="submit" value="login">
       
    </form>

    
</body>
</html>